:root {

  /* --bg-color: rgb(2, 4, 15); */
  --bg-color  : rgb(22, 26, 29);
  --primary   : rgb(211, 211, 211);
  --secondary : rgb(218, 58, 58);
  --tertiary  : rgb(26, 177, 79);

}

.App {

  display         : flex;
  flex-direction  : column;

  align-items     : center;
  
  padding: 50px;

  box-sizing: border-box;

  height          : 100vh;

  background-color: var(--bg-color);

  padding-left: 20vw;
  padding-right: 20vw;

}

.room-input {

  display: flex;
  flex-direction: row;

  gap: 20px;

  width: 100%;

}

.message-display {

  display         : flex;
  flex-direction  : column;

  padding: 20px;

  height: 80vh;

  border-left : 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);

  overflow: auto;
  width: 100%;

}

.sent {

  align-self: flex-end;

}

.recieved {

  align-self: flex-start;
  color: var(--tertiary);

}

.room {

  display         : flex;
  flex-direction  : column;

  align-items     : center;

  width: 100%;

  gap: 10px;

}


.login-page {

  display         : flex;
  flex-direction  : column;

  align-items     : center;
  justify-content : center;

  color           : var(--secondary);

  height: 100%;
  width: 100%;

}

.display {

  display         : flex;
  flex-direction  : column;

  align-items     : center;
  justify-content : center;

  color           : var(--secondary);

  height: 100%;
  width: 70%;

}

p {

  color: var(--primary);

}

h1 {

  color: var(--secondary);

}